@model Project.Models.Student
@{
    ViewData["Title"] = "Quoc Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <h1 class="display-4">@Model.Age</h1>
    <h1 class="display-4">@Model.Address</h1>
</div>